@model PROYECTORADIX.Models.Ficha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIniciolectiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIniciolectiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinallectiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinallectiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIniciopractica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIniciopractica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalpractica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalpractica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInstructorlider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInstructorlider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJornadaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJornadaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModalidadNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProgramaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProgramaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoFormacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoFormacionNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
