@model IEnumerable<PROYECTORADIX.Models.Ficha>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaIniciolectiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinallectiva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIniciopractica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalpractica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstructorlider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJornadaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModalidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProgramaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoFormacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIniciolectiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinallectiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIniciopractica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalpractica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstructorlider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJornadaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModalidadNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProgramaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoFormacionNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
